In [47]:
import pandas as pd
import hvplot.pandas as hv
import numpy as np
from pathlib import Path
import geoviews as gv
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import os
import pydeck as pdk
import geopandas as gpd
import cartopy.feature
import cartopy.crs as ccrs
from bokeh.sampledata.sea_surface_temperature import sea_surface_temperature as sst

In [48]:
country_pop_df = pd.read_csv(Path('../Resources/total_population.csv'))

In [49]:
country_pop_df = country_pop_df.dropna()

In [50]:
country_pop_df = country_pop_df.drop(columns=['Country Code'])

In [51]:
country_pop_df = country_pop_df.drop(columns=['Series Code'])

In [52]:
country_pop_df = country_pop_df.drop(columns=['Series Name'])

In [55]:
country_pop_df = country_pop_df.round(1)

In [56]:
country_pop_df.tail(10)

,Country Name,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],1966 [YR1966],1967 [YR1967],1968 [YR1968],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
80,Thailand,"27,397,208.00","28,224,186.00","29,080,945.00","29,966,873.00","30,881,136.00","31,822,656.00","32,789,129.00","33,778,804.00","34,791,418.00",...,"67,518,379.00",67835969,68144519,68438748,68714519,68971313,69209817,69428454,69625581,69799978
81,Trinidad and Tobago,"847,973.00","864,814.00","879,436.00","891,948.00","902,620.00","911,742.00","919,218.00","925,233.00","930,792.00",...,"1,336,180.00",1344814,1353708,1362337,1370332,1377563,1384060,1389841,1394969,1399491
82,Turkey,"27,472,339.00","28,146,909.00","28,832,831.00","29,531,362.00","30,244,258.00","30,972,996.00","31,717,504.00","32,477,994.00","33,256,465.00",...,"73,443,254.00",74651046,75925454,77229262,78529413,79827868,81116451,82340090,83429607,84339067
83,Timor-Leste,"474,535.00","482,852.00","491,575.00","500,652.00","510,035.00","519,676.00","529,328.00","538,906.00","548,817.00",...,"1,113,154.00",1133002,1153288,1174333,1196294,1219289,1243260,1267975,1293120,1318442
84,Ukraine,"42,664,646.00","43,206,353.00","43,752,227.00","44,288,607.00","44,796,959.00","45,264,552.00","45,684,983.00","46,063,219.00","46,411,816.00",...,"45,706,086.00",45593342,45489648,45272155,45154036,45004673,44831135,44622518,44386203,44134693
85,United States,"180,671,000.00","183,691,000.00","186,538,000.00","189,242,000.00","191,889,000.00","194,303,000.00","196,560,000.00","198,712,000.00","200,706,000.00",...,"311,583,481.00",313877662,316059947,318386329,320738994,323071755,325122128,326838199,328329953,329484123
86,Uzbekistan,"8,526,299.00","8,813,619.00","9,113,629.00","9,428,906.00","9,762,819.00","10,116,870.00","10,493,441.00","10,889,499.00","11,294,666.00",...,"29,339,400.00",29774500,30243200,30757700,31298900,31847900,32388600,32956100,33580350,34232050
87,United Kingdom,"52,400,000.00","52,800,000.00","53,250,000.00","53,650,000.00","54,000,000.00","54,348,050.00","54,648,500.00","54,943,600.00","55,211,700.00",...,"63,258,810.00",63700215,64128273,64602298,65116219,65611593,66058859,66460344,66836327,67215293
88,Virgin Islands (U.S.),"32,500.00","34,300.00","35,000.00","39,800.00","40,800.00","43,500.00","46,200.00","49,100.00","55,700.00",...,"108,290.00",108188,108041,107882,107712,107516,107281,107001,106669,106290
89,Montenegro,"480,579.00","491,140.00","502,558.00","513,409.00","521,753.00","526,327.00","526,419.00","522,796.00","517,481.00",...,"620,079.00",620601,621207,621810,622159,622303,622373,622227,622028,621306

In [31]:
cities = pd.read_csv('../Resources/total_population.csv', encoding="ISO-8859-1")
population = gv.Dataset(cities, kdims=['City', 'Country', 'Year'])
points = population.to(gv.Points, ['Longitude', 'Latitude'], ['Population', 'City', 'Country'])

tiles = gv.tile_sources.Wikipedia

DataError: Supplied data does not contain specified dimensions, the following dimensions were not found: ['City', 'Country', 'Year']

PandasInterface expects tabular data, for more information on supported datatypes see http://holoviews.org/user_guide/Tabular_Datasets.html

In [32]:
tiles * points.opts(
    color='Population', cmap='viridis', size=dim('Population')*0.000001,
    tools=['hover'], global_extent=True, width=600, height=600)

NameError: name 'tiles' is not defined

In [57]:
glob_gdp_df = pd.read_csv(Path('../Resources/global_gdp_data.csv'))

In [58]:
glob_gdp_df = glob_gdp_df.drop(columns = ['Series Code'])

In [59]:
glob_gdp_df = glob_gdp_df.drop(columns = ['Country Code'])

In [60]:
glob_gdp_df = pd.DataFrame(glob_gdp_df)
for col in glob_gdp_df.columns:
    if "3" in col:
        del glob_gdp_df[col]

In [61]:
glob_gdp_df = pd.DataFrame(glob_gdp_df)
for col in glob_gdp_df.columns:
    if "5" in col:
        del glob_gdp_df[col]

In [62]:
glob_gdp_df = glob_gdp_df.drop(columns = ['1961 [YR1961]'])

In [63]:
glob_gdp_df = glob_gdp_df.drop(['1962 [YR1962]', '1966 [YR1966]'], axis = 1)

In [64]:
glob_gdp_df = glob_gdp_df.drop(['1967 [YR1967]', '1969 [YR1969]', '1970 [YR1970]', '1971 [YR1971]', '1974 [YR1974]', '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]', '1981 [YR1981]', '1982 [YR1982]', '1986 [YR1986]', '1987 [YR1987]', '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]', '1996 [YR1996]', '1997 [YR1997]', '2004 [YR2004]', '2011 [YR2011]', '2012 [YR2012]', '1999 [YR1999]', '2000 [YR2000]', '2001 [YR2001]', '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2016 [YR2016]', '2017 [YR2017]', '2019 [YR2019]', '2020 [YR2020]'], axis = 1)

In [65]:
glob_gdp_df = glob_gdp_df.drop(labels=range(90, 94), axis=0)

In [66]:
glob_gdp_df = glob_gdp_df.drop(glob_gdp_df.index[-1])

In [67]:
glob_gdp_df[['2002 [YR2002]', '2006 [YR2006]', '2014 [YR2014]', '2018 [YR2018]']] = glob_gdp_df[['2002 [YR2002]', '2006 [YR2006]', '2014 [YR2014]', '2018 [YR2018]']].fillna(0)

In [68]:
glob_gdp_df

,Country Name,Series Name,1960 [YR1960],1964 [YR1964],1968 [YR1968],1972 [YR1972],1976 [YR1976],1980 [YR1980],1984 [YR1984],1988 [YR1988],1992 [YR1992],1994 [YR1994],1998 [YR1998],2002 [YR2002],2006 [YR2006],2010 [YR2010],2014 [YR2014],2018 [YR2018]
0,Albania,GDP (current US$),..,..,..,..,..,..,1857338011.85488,2051236250,652174990.837304,1880951520.3972,2545964540.88383,4348068242.19512,8896072918.9814,"11,926,922,828.99",13228147516.1168,15156432309.8977
1,Andorra,GDP (current US$),..,..,..,113408231.944085,227281024.620741,446416105.825017,330070689.298282,721425939.15155,1210013651.87713,1017549124.33238,1211932397.81713,1755910031.99699,3456442102.622,"3,449,966,856.69",3271808157.30038,3218316013.22626
2,American Samoa,GDP (current US$),..,..,..,..,..,..,..,..,..,..,..,512000000,493000000,"573,000,000.00",643000000,639000000
3,Argentina,GDP (current US$),..,25605249381.7597,26436857247.4982,34733000536.2862,51169499890.7722,76961923741.9479,79092001998.032,126206817196.091,228788617201.696,257440000000,298948250000,97724004251.8602,232557260817.308,"423,627,422,092.49",526319673731.638,524819742918.669
4,Armenia,GDP (current US$),..,..,..,..,..,..,..,..,1272835453.42634,1315158636.67553,1893726437.26462,2376335048.39976,6384451606.1421,"9,260,284,937.80",11609512939.7542,12457941907.0333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,Ukraine,GDP (current US$),..,..,..,..,..,..,..,74703706816.8446,71900000000,52543387167.1759,41883241477.8526,43956369917.0202,111884752475.248,"141,209,864,408.49",133503411375.739,130891049796.879
86,United States,GDP (current US$),543300000000,685800000000,942500000000,1279110000000,1873412000000,2857307000000,4037613000000,5236438000000,6520327000000,7287236000000,9062818202000,10936419054000,13814611414000,"14,992,052,727,000.00",17527163695000,20611860934000
87,United Kingdom,GDP (current US$),73233967692.1028,94407558351.1616,107759910067.889,169965034965.035,232614555256.065,564947710899.373,461487097632.349,910122732123.799,1179659529659.53,1140489745944.29,1653391851606.49,1784076738609.11,2717059797608.1,"2,491,110,093,454.18",3087165602962.86,2900791442554.06
88,Virgin Islands (U.S.),GDP (current US$),..,..,..,..,..,..,..,..,..,..,..,3262000000,4484000000,"4,324,000,000.00",3565000000,3900000000
89,Uzbekistan,GDP (current US$),..,..,..,..,..,..,..,..,12941297376.0933,12899156990.6156,14988971210.8383,9687788512.80184,17330833852.919,"49,765,676,402.45",80845384375.1236,52633143808.1824

In [79]:
glob_gdp_df[['2002 [YR2002]', '2006 [YR2006]', '2014 [YR2014]', '2018 [YR2018]']]= glob_gdp_df[['2002 [YR2002]', '2006 [YR2006]', '2014 [YR2014]', '2018 [YR2018]']].astype(float, errors = 'raise')

TypeError: 'Styler' object is not subscriptable

In [77]:
glob_gdp_df = glob_gdp_df.style.format({
    '2002 [YR2002]': "{:,d}",
    '2006 [YR2006]': "{:,d}",
    '2014 [YR2014]': "{:,d}",
    '2018 [YR2018]': "{:,d}",
})

AttributeError: 'Styler' object has no attribute 'style'

In [78]:
glob_gdp_df

ValueError: Invalid format specifier

In [17]:
.apply(pd.to_numeric)

SyntaxError: invalid syntax (2942992934.py, line 1)

In [19]:
glob_gdp_df.hvplot.(figsize=(100,65), x='Country Name', rot=90)

SyntaxError: invalid syntax (378910496.py, line 1)

In [20]:
temp_only_df = pd.read_csv(Path('../Resources/avg annual temp - Sheet1 (3).csv'))

In [21]:
data = np.genfromtxt('../Resources/avg annual temp - Sheet1 (3).csv', delimiter=',', dtype=None, skip_header=1, names=('Country Name', 'Average'))

/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.
  """Entry point for launching an IPython kernel.

ValueError: could not assign tuple of length 4 to structure with 2 fields.

In [22]:
plt.title(“Global Land and Ocean Temperature Anomalies, June”)
plt.xlabel(‘year’)
plt.ylabel(‘degrees F +/- from average’)
plt.bar(data[‘date’], data[‘value’], color=”blue”)
plt.show()

SyntaxError: invalid character in identifier (2148288151.py, line 1)

In [ ]:
temp_only_df.dropna()
temp_only_df = temp_only_df.drop(['Data from Year', 'Global Rank'], axis=1)

In [ ]:
temp_only_df = temp_only_df.drop(temp_only_df.index[-1])

In [ ]:
temp_only_df = temp_only_df.dropna()

In [ ]:
temp_only_df = temp_only_df.rename(columns={"Average yearly temperature (1961-1990, Celsius)":"Average Annual Temp Celsius", "Long":"Lon"})

In [ ]:
# import plotly.express as px
# simple_temp_df = (temp_only_df.datatype == 'tmax')
# fig = px.bar(simple_df, x='Country Name', y='Average Annual Temp Celsius', color='rel_avg_temp_C')
# fig.show()

temp_only_df = pd.read_csv(Path('Resources/avg annual temp - Sheet1 (3).csv')).dropna()
temp_only_df_sorted = temp_only_df.sort_values(by=['Avg Annual Temp (Celsius)'])

temp_only_df_sorted.hvplot(kind='bar', title= 'Average Annual Temperatures', x = 'Country Name', y = 'Avg Annual Temp (Celsius)', figsize= (15, 7), rot=90)

temp_only_df_sorted.to_csv('Resources/temp_only.csv')